<app-header></app-header>
<h1>hello dosto</h1>
<h1>{{childtoparent}}</h1>
<!-- this is basically way to write js code in html but here we can't declare anything -->
<!-- Interpolation  -->

{{2+5}}  

<app-user [item] = "data" (updateDataEvent)="childToParent($event)"></app-user>
<app-login></app-login>
<app-signin></app-signin>

<app-forgetpassword></app-forgetpassword>

<button (click)="getName('Suyash')" >Call function</button>
<button (click)="getData()">Get Data</button>

<input type="text" placeholder="key up" #word (keyup)="getData(word.value)"/>
<input type="text" placeholder="key down" #word1 (keydown)="getData(word1.value)"/>
<input type="text" placeholder="blur" #word2 (blur)="getData(word2.value)"/>
<input type="text" placeholder="input" #word3 (input)="getData(word3.value)"/>
<!-- <input type="text" placeholder="Enter name" #data4 (input)="getData(data4.value)"> -->
<input type="text" placeholder="Enter name" #data4>
<button (click)="getData(data4.value)">Submit</button>
<h1>{{displayValue}}</h1>

<h1>creating counter function </h1>

<button (click)="Counter('Inc')">Increment</button>
<h1>{{count}}</h1>
<button (click)="Counter('Dec')">Decrement</button>

<h1 [style.background]="color">Style Binding</h1>
<!-- now how toto create dynamic changes using style binding -->
<button (click)="colorChange()">Green</button>


<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>



<h1>send Data from parent to child</h1>
<input type="text" placeholder="send data" #senddata >
<h1>{{data}}</h1>
<button (click)="sendData(senddata.value)" >send data</button>
<app-user [item] = "data" (updateDataEvent)="childToParent($event)"></app-user>



